<%- include('shared/includes/head', {pageTitle: 'About' }) %>
    <link rel="stylesheet" href="/styles/auth.css">
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/base.css">
    </head>

    <body>
        <%- include('shared/includes/header') %>
            <main>
                <div class="image-presentation">
                    <img src="/assets/creed.jpg" alt="Creed Bratton">
                </div>
                <div class="about">
                    <p>
                        Creed Bratton is a deviant, former hippie and homeless man employed at the Scranton branch of
                        paper distributor Dunder Mifflin as a quality assurance manager. Creed is a mysterious figure
                        who is prone to making bizarre or confusing statements on a regular basis. Creed have been born
                        on November 1, 1925.
                    </p>
                </div>
            </main>

            <footer class="main-footer">
                <a href="https://www.facebook.com/creed.bratton.982/" target="_blank">
                    <img src="/assets/facebook.png" alt="facebook">
                </a>
                <a href="https://www.instagram.com/creedbratton/" target="_blank">
                    <img src="/assets/instagram.png" alt="instagram">
                </a>

            </footer>
            <% include('shared/includes/footer') %>