<%- include('shared/includes/head', {pageTitle: 'Contact' }) %>
    <link rel="stylesheet" href="/styles/auth.css">
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/base.css">
    </head>

    <body>
        <%- include('shared/includes/header') %>
            <main>
                <div class="image-presentation">
                    <img src="/assets/creed.jpg" alt="Creed Bratton">
                </div>
                <div class="contact">
                    <a href="https://www.facebook.com/creed.bratton.982/" target="_blank">
                        <img src="/assets/facebook.png" alt="facebook">
                        <p>
                            Check out my Facebook Page
                        </p>
                    </a>

                    <a href="https://www.instagram.com/creedbratton/" target="_blank">
                        <img src="/assets/instagram.png" alt="instagram">
                        <p>
                            Check out my Instagram Page
                        </p>
                    </a>


                </div>
            </main>

            <footer class="main-footer">
                <a href="https://www.facebook.com/creed.bratton.982/" target="_blank">
                    <img src="/assets/facebook.png" alt="facebook">
                </a>
                <a href="https://www.instagram.com/creedbratton/" target="_blank">
                    <img src="/assets/instagram.png" alt="instagram">
                </a>

            </footer>
            <% include('shared/includes/footer') %>