<header id="main-header">
    <button id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav id="main-nav">
        <%- include('nav-item') %>
    </nav>

</header>
<hr>
<div id="mobile-menu">
    <div id="mobile-menu-content">
        <%- include('nav-item') %>
    </div>
</div>