label {
    /* color: ; */
    display: block;
    margin-bottom: .5rem;
}

input, textarea {
    font: inherit;
    padding: .5rem;
    border-radius: 4px;
    border: none;
    width: 90%;
}

#content {
    white-space: pre-wrap;
}

#image-upload-control {
    display: flex;
    align-items: center;
}

#image-upload-control input {
    max-width: 15rem;
}

#image-upload-control img{
    display: none;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 4px;
}